.header {
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home, .rooms-view, .room-view {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}
.rooms-view {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.does-not-meet {
  background-color: #19C84A;
}
.meet {
  background-color: #DCC812;
}
.exceed {
  background-color: #FA6060;
}
.items-nav {
  max-width: 300px;
  margin: 50px auto auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.move {
  display: block;
  font-size: 30px;
  min-width: 50px;
  background-color: #333;
  text-align: center;
  color: #FFF;
  border-radius: 40%;
}
.left::before {
  content: "\002B05";
}
.right::before {
  content: "\0027A1";
}
.students-list {
  max-width: 500px;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-evenly;
}
nav {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
.placing-list, .moving-list {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
}
.placing-list > *, .moving-list > * {
  list-style: none;
}
.room {
  display: block;
  text-decoration: none;
  color: #333;
  background-color: #F5F5F5;
  width: 220px;
  margin: unset;
  margin-bottom: 5px;
}
.stud {
  background-color: #ddd;
  padding: 0 5px 0 5px;
  margin: auto;
  border-radius: 7px;
}
.stud:hover {
  background: #126;
  color: white;
  cursor: pointer;
}
.stud:active {
  background-color: #19C84A;
}
.student {
  background: #eef;
  width: 220px;
  margin-bottom: 4px;
}
.low, .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student .name, .student .status {
  width: 50%;
}
.status {
  background-color: #19C84A;
}
.currently-here {
  list-style: none;
  padding: 7px;
  border-radius: 7px;
  background: #19C84A;
}
.currently-here:hover {
  background: #FA6060;
  color: white;
  cursor: pointer;
}
.currently-here:active {
  background: red;
}